/*1319064778,169776069*/

.sp_ae5hxf{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yA/r/N8T_oGDfkMw.png);background-repeat:no-repeat;display:inline-block;height:14px;width:10px}
.sx_99813c{width:14px;background-position:-85px -181px}
.sx_90d468{height:10px;background-position:-73px -162px}
.sx_72e522{height:10px;background-position:-84px -162px}
.sx_d527fd{height:10px;background-position:-95px -162px}
.sx_bac524{height:10px;background-position:-106px -153px}
.sx_b8dd2b{width:13px;height:8px;background-position:-92px -153px}
.sx_5dce23{height:10px;background-position:-117px -153px}
.sx_d4f64f{width:11px;background-position:-36px -147px}
.selected .sx_d4f64f{background-position:-25px -147px}
.sx_bd3864{width:8px;background-position:-59px -181px}
.selected .sx_bd3864{background-position:-51px -181px}
.sx_500cc9{width:12px;background-position:-12px -147px}
.selected .sx_500cc9{background-position:-0px -147px}
.sx_467a6b{width:9px;height:12px;background-position:-28px -162px}
.selected .sx_467a6b{background-position:-19px -162px}
.sx_ca7fa9{background-position:-81px -147px}
.selected .sx_ca7fa9{background-position:-71px -147px}
.sx_819c37{width:11px;background-position:-59px -147px}
.selected .sx_819c37{background-position:-48px -147px}
.sx_6a70e1{width:5px;height:3px;background-position:-112px -147px}
.sx_60efb3{width:6px;height:11px;background-position:-56px -162px}
.selected .sx_60efb3{background-position:-50px -162px}
.sx_760a88{width:16px;height:16px;background-position:-34px -181px}
.sx_2668ff{width:8px;background-position:-76px -181px}
.selected .sx_2668ff{background-position:-68px -181px}
.sx_bdd00f{width:16px;height:16px;background-position:-17px -181px}
.sx_beb035{width:12px;background-position:-100px -181px}
.sx_e907d2{width:16px;height:16px;background-position:-0px -181px}
.sx_c7ad07{width:19px;height:5px;background-position:-92px -147px}
.sx_1486d7{width:11px;height:12px;background-position:-38px -162px}
.sx_a213f2{width:9px;height:11px;background-position:-63px -162px}
.sx_f36508{width:6px;height:9px;background-position:-135px -153px}
.sx_80fc23{width:6px;height:9px;background-position:-128px -153px}
.sx_8f26d3{width:18px;height:18px;background-position:-0px -162px}
.sx_969614{width:8px;height:13px;background-position:-165px -181px}
.sx_540a75{width:9px;height:13px;background-position:-155px -181px}
.sx_3f6184{width:11px;height:13px;background-position:-113px -181px}
.sx_342e59{width:9px;height:13px;background-position:-145px -181px}
.sx_84e87f{width:9px;height:13px;background-position:-135px -181px}
.sx_5046e3{width:9px;height:13px;background-position:-125px -181px}
.sx_6ad4d1{width:500px;height:48px;background-position:-0px -98px}
.sx_054ec4{width:500px;height:48px;background-position:-0px -49px}
.sx_80e965{width:500px;height:48px;background-position:-0px -0px}

#bootloader_oGwkh { height: 42px; }